{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<div class="mx-2 my-2 mb-5 mt-6">
  <h1 class="text-4xl text-center font-bold">Tushar Mess</h1>
  <img src="../static/img/mess.jpg" alt="mess-picture">
</div>

<div class="mx-2 my-2">
  <h1 class="text-4xl text-center font-bold">Rules that you Should be Maintained!</h1>
  <ul>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> You have to pay the rent within 1 - 10 days from the month beginning.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> You must be attended in every Friday Meeting with Owner and Students</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> All kind of Political discussion is not be allowed!</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> If any suspecious person is entering the mess and you notice, you must confirm the mess manager immidiate.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> No one can be allowed in the mess except the relatives of the student.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> <b>GIRLS</b> are not allowed in this mess. If you have any kind of feelings for her please express it outside of this mess.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> If you face any kind of problem with any of student, inform it to the mess Manager.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> If somthing of the room is damaged then all the member are must be paid the bill for repair it nor he can leave the mess by paying <b>One Month of Bill</b></li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> All the room has been checked by the Mess Owner in every Friday.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> If any member of this mess is hiding anything we will take legal action against him.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> Don't conflict with each other. Maintain the Peace.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> You must have respected the Owner nor legal action will be taken against you.</li>
    <li class="list-item list-disc font-medium"><b class="text-xl">[#]</b> <b>You must respect your elder of this mess if you disrespect any border of this mess then you must be fined.</b></li>
  </ul>

  <div class="mt-8 bg-red-700 p-5 border-neutral-950">
    <h2 class="text-bold text-4xl text-center text-white">####### IF YOU HAVE ANY KIND OF PROBLEM WITH OUR RULES YOU CAN GO AND SEARCH ANOTHER MESS FOR YOURSELF! #######</h2>
  </div>
</div>

{% endblock %}
